---
interface Props {
  title: string;
  description: string;
  date: string;
  company: string;
  link?: string;
  img?: string;
}

const { title, description, date, company, img } = Astro.props;
---

<!-- <div class="absolute w-3 h-3 bg-black rounded-full mt-1.5 -start-1.5 border border-white/75 dark:border-gray-900 dark:bg-gray-700"></div> -->
<article class="grid grid-cols-1 md:grid-cols-2 gap-2">
  <h3
    class="text-lg font-bold text-white/90 bg-cardTitle md:col-span-2 dark:text-white shadow-sm"
  >
    {title}
  </h3>
  <h4 class="text-base font-semibold text-gray-900 bg-white/55 dark:text-white shadow-sm">
    {company}
  </h4>
  <time
    class="text-base font-normal bg-white/55 text-gray-500 dark:text-gray-900 shadow-sm flex items-center"
    >{date}</time
  >

  {
      img ? 
            <p
                class="text-base font-normal text-gray-700 bg-white/55 dark:text-gray-900 text-pretty shadow-sm"
              >
                {description}
                
            </p>
            <div class={`relative min-h-48 shadow-sm`}>
              <img
                src={img}
                alt=`imágen de ${company}`
                class="absolute inset-0 h-full w-full object-contain rounded-lg"
              />
            </div> :
            <p
               class="text-base font-normal text-gray-700 bg-white/55 md:col-span-2 dark:text-gray-900 text-pretty shadow-sm"
            >
              {description}
              { 
                // link && <a class="bg-gray-300 inline-block px-2 py-1 rounded-lg" href={link}>Visita el sitio</a>
              }
            </p>
  }
</article>

<style>
  article > * {
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
  }

</style>
