---
interface Props {
  title: string;
  description: string;
  technologies: string;
  repository: string;
  deployment: string;
  img: string;
}

const { title, description, technologies, repository, deployment, img } =
  Astro.props;
---

<!-- <div class="absolute w-3 h-3 bg-black rounded-full mt-1.5 -start-1.5 border border-white/75 dark:border-gray-900 dark:bg-gray-700"></div> -->
<article class="grid grid-cols-1 md:grid-cols-2 gap-2 mb-8">
  <h3
    class="text-lg font-bold text-white/90 bg-cardTitle flex flex-col justify-center dark:text-white shadow-sm"
  >
    {title}
  </h3>
  <p
    class="text-base font-normal text-gray-700 bg-white/55 dark:text-gray-900 text-pretty shadow-sm md:row-span-3"
  >
    {description}
  </p>
  <h4
    class="text-base font-semibold text-gray-900 bg-white/55 dark:text-white shadow-sm"
  >
    {technologies}
  </h4>
  <div class={`relative min-h-48 shadow-sm md:row-span-2`}>
    <img
      src={img}
      alt=`imágen de ${title}`
      class="absolute inset-0 h-full w-full object-cover rounded-lg"
    />
  </div>
  <div
    class="flex justify-around items-center text-base font-normal text-gray-700 bg-white/55 dark:text-gray-900 text-pretty"
  >
    {
      repository && (
        <a
          class={`inline-block py-2 px-3 bg-blue-500 rounded-xl shadow-md text-white/95 hover:bg-blue-400 hover:scale-105 transition`}
          href={repository}
          target="_blank"
        >
          Repositorio
        </a>
      )
    }
    {
      deployment && (
        <a
          class={`inline-block py-2 px-3 bg-blue-500 rounded-xl shadow-md text-white/95 hover:bg-blue-400 hover:scale-105 transition`}
          href={deployment}
          target="_blank"
        >
          Deployment
        </a>
      )
    }
  </div>

  <style>
    article > * {
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
    }
  </style>
</article>
